
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-size: large,;
    background-color: lime;
    
    
  }


.five {
    grid-column: 2;
    grid-row: 1;
background-color: lightsteelblue;
margin-top: 3rem;
height: 5rem;
border: solid yellow;


  }



  .four {
    grid-column: 2;
    grid-row: 1.09;
background-color: gold;
margin-top: 3rem;
border: solid navy;
height: 10rem;

  }